@font-face
  font-family 'AvantGarde'
  font-weight normal
  font-style normal
  src url("fonts/itcavantgardestd-demi-webfont.woff") format("woff")

@font-face
  font-family 'Garamond'
  font-weight normal
  font-style normal
  src url("fonts/agaramondpro-regular-webfont.woff") format("woff")

@font-face
  font-family 'Garamond'
  font-weight bold
  font-style normal
  src url("fonts/agaramondpro-bold-webfont.woff") format("woff")

@font-face
  font-family 'Garamond'
  font-weight bold
  font-style italic
  src url("fonts/agaramondpro-bolditalic-webfont.woff") format("woff")

@font-face
  font-family 'Garamond'
  font-weight normal
  font-style italic
  src url("fonts/agaramondpro-italic-webfont.woff") format("woff")