@import 'fonts'
@import '../../node_modules/nib'

body
  font-family Garamond
  line-height 1.4em
  vendor('font-smoothing', antialiased)

img.cover
  width 100% !important


section.purple
  color white