purple = '#6a0bc1'

!!! 5
html(lang='en')
head
  include head
  include styles/index.styl
  body
    .reveal
      .slides

        section.purple( data-background=purple )
          h1 Force: A Look Back on Artsy Technology
            br
            em A Tale of Technical Debt

        section
          h1 Force 2

    include scripts
    script.
      Reveal.initialize({
        transition: 'linear'
      })